body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow:auto;
 }
 
 header {
    padding: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}
